/* Section Background */
.testimonials-section-bg {
  background: linear-gradient(94deg, #1D456F 3.55%, #13263E 56.55%), #13263E;
}

/* Swiper Container */
.testimonials-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.testimonials-slider .swiper-slide {
  display: flex;
  align-items: center;
  padding: 20px 40px;
}
.testimonial-detailed .swiper-slide {
  padding: 20px;
}

.testimonials-slider .swiper-slide > div {
  max-width: 100%;
  width: 100%;
}

/* Star Rating Icons */
.star-icon {
  width: 24px;
  height: 24px;
}

/* Badge Icons */
.badge-icon {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
  .testimonials-slider .swiper-slide {
    padding-left: 25px;
    padding-right: 20px;
  }
}
